body {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
    background-color: #ccc;
	color:#525;
}

h1 {
	color: #000;
}

h2 {
    color:red;
    font-size: 1.5em;
    /* background-color: #ccc;
    margin: 20px;  atitraukimas
    padding: 70px;  platumas
	border-style: double;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: red; */
}

h3 {
	color: #123;
}

p {
	color:black;
	font-weight:600;
	/*line-height: 21px; */
}

a {
	color:blue;
}
vs {
    font-size:50;
}
table {
	font-style:2em;
	color:red;
}

