body {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	color:#ff0000;
}

h1 {
	color: #ffc;
	background-color:#009;
}

h2 {
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px; /* atitraukimas */
    padding: 70px; /* platumas */
	border-style: double;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: red;
}

h3 {
	text-decoration: line-through;
}

p {
	color:orange;
	font-weight: bolder;
	line-height: 21px;
}

a {
	color:green;
}

table {
	font-style:2em;
	color:red;
}

