body, html {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
    margin:0;
    padding:0;
    background-color: #ccc;
    background: url("./img/gray4.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:black;
}

h1 {
    margin:0;
	color: #000;
}

h2 {
    color:red;
}

h3 {
	color: #123;
}

p {
	color:#000;
	font-weight:500;
}

a {
	color:blue;
}

vs {
    font-size:50;
}

/* STRUCTURE */

/*#pagewrap {
	width: 800px;
}*/

header {
	height:175px;
    width:100%;
}

#left-side {
	width: 400px; /* 378 Account for margins + border values */
    height: 350px;
	float: left;
    margin: 1px;
    padding: 5px;
    border-style: double;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}

#right-side {
	width: 400px; /* 380 */
    height: 350px;
	float: left;
    margin: 1px;
    padding: 5px;
    border-style: double;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}

nav {
    float: left;
}

nav ul {
    margin:0;
    padding:0;
    list-style:none;
}

nav li {
    display:inline;
    margin:0;
    padding:0;
}

footer {
    clear: both;
}
